# Energia z OZE dla krajów Unii Europejskiej, Chin, USA, Indii i Rosji

### Wgranie bibliotek i danych

In [2]:
#Biblioteki
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import re

#Zmienienie formatu zapisu danych numerycznych na dwie cyfry po przecinku.
pd.options.display.float_format = '{:.2f}'.format

#Wczytanie danych
df = pd.read_csv('all_energy_statistics.csv')

# Podział kolumny 'commodity_transaction'

źródło kodu: https://www.kaggle.com/code/gabrielapiwar/cleaning-of-commodities-column/edit

In [3]:
#Podział na trzy kolumny
split_commodities = df.commodity_transaction.str.split(" - | – ",  expand=True)

#Przypisanie nazw kolumn
split_commodities.columns = ["commodity", "transaction_type", "additional_transaction_info"]

#Oczyszczenie stringów w kolumnie transaction_type
split_commodities.transaction_type = split_commodities.transaction_type.str.lower().str.strip()

#Poprawienie błędów w pisowni i formatowaniu
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("transformatin", "transformation")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("non energy uses", "consumption for non-energy uses")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace(" /", "/")
split_commodities.transaction_type = split_commodities.transaction_type.str.replace("/ ", "/")

#Dodanie trzech nowych kolumn do orginalnych danych
new_df = df.join(split_commodities)

#Usunięcie kolumny 'commodity_transaction'
new_df = new_df.drop(columns = ['commodity_transaction'])

#Zapisanie nowego pliku z danymi
with open("commodity_split_data.csv", "w+") as file:
    file.write(new_df.to_csv())

# Podgląd unikatowych wartości dla każdej kolumny

In [4]:
#Stworzenie słownika z unikatowymi wartościami w kolumnach 
unique_column_values = {}
keys = list(new_df.columns)
for col in keys:
    unique_column_values[col] = new_df[col].unique() 

#Posortowanie kolumny year żeby było czytelniej
unique_column_values['year'].sort()
    
#wypisanie nazw kolumn   
print(unique_column_values.keys(),"\n")

#print("Unikatowe wartości w kolumnie 'country_or_area':\n{}\n".format(unique_column_values['country_or_area']))
print("Unikatowe wartości w kolumnie 'year':\n{}\n".format(unique_column_values['year']))
print("Unikatowe wartości w kolumnie 'unit':\n{}\n".format(unique_column_values['unit']))
print("Unikatowe wartości w kolumnie 'category':\n{}\n".format(unique_column_values['category']))
print("Unikatowe wartości w kolumnie 'commodity':\n{}\n".format(unique_column_values['commodity']))
print("Unikatowe wartości w kolumnie 'transaction_type':\n{}\n".format(unique_column_values['transaction_type']))
print("Unikatowe wartości w kolumnie 'additional_transaction_info':\n{}\n".format(unique_column_values['additional_transaction_info']))

dict_keys(['country_or_area', 'year', 'unit', 'quantity', 'quantity_footnotes', 'category', 'commodity', 'transaction_type', 'additional_transaction_info'])

Unikatowe wartości w kolumnie 'year':
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]

Unikatowe wartości w kolumnie 'unit':
['Metric tons,  thousand' 'Terajoules' 'Kilowatts,  thousand'
 'Kilowatt-hours, million' 'Cubic metres, thousand' 'Metric Tons']

Unikatowe wartości w kolumnie 'category':
['additives_and_oxygenates' 'animal_waste' 'anthracite'
 'aviation_gasoline' 'bagasse' 'biodiesel' 'biogases' 'biogasoline'
 'bitumen' 'black_liquor' 'blast_furnace_gas' 'brown_coal_briquettes'
 'brown_coal' 'charcoal' 'coal_tar' 'coke_oven_coke' 'coking_coal'
 'conventional_crude_oil' 'direct_use_of_geothermal_heat'
 'direct_use_of_solar_thermal_heat'
 'electricity_net_installed_capacity_of_electric_power_plants' 'ethane'
 'falling_water' 'fuel_oil' 'fuelwood' 'gas_coke' 'gas_oil_diesel_oil'
 'gasoline_type_jet_fuel' 'gasworks_gas' 'geothermal' 'hard_coal' 'heat'
 'hydro' 'industrial_waste' 'kerosene_type_jet_fuel' 'lignite'
 'liquified_petroleum_gas' 'lubricants' 'motor_gasoline'
 'municipal_wastes' 'naphtha' 'natural_gas_including_lng'
 'natural_gas_liquids' 'nuclear_electricity' 'of_which_biodiesel'
 'of_which_biogasoline' 'oil_shale_oil_sands' 'other_bituminous_coal'
 'other_coal_products' 'other_hydrocarbons' 'other_kerosene'
 'other_liquid_biofuels' 'other_oil_products_n_e_c'
 'other_recovered_gases' 'other_vegetal_material_and_residues'
 'paraffin_waxes' 'patent_fuel' 'peat' 'peat_products' 'petroleum_coke'
 'refinery_feedstocks' 'refinery_gas' 'solar_electricity'
 'sub_bituminous_coal' 'thermal_electricity'
 'tide_wave_and_ocean_electricity' 'total_electricity'
 'total_refinery_output' 'uranium'
 'white_spirit_and_special_boiling_point_industrial_spirits'
 'wind_electricity']

Unikatowe wartości w kolumnie 'commodity':
['Additives and Oxygenates' 'Animal waste' 'animal waste' 'Anthracite'
 'Aviation gasoline' 'Bagasse' 'Biodiesel' 'Biogases' 'Biogasoline'
 'Bitumen' 'Black Liquor' 'Blast Furnace Gas' 'Blast furnace gas'
 'Brown coal briquettes' 'Brown Coal Briquettes' 'Brown coal'
 'Lignite brown coal' 'Lignite brown coal- recoverable resources'
 'Charcoal' 'Coal Tar' 'Coke Oven Gas' 'Coking coal'
 'Conventional crude oil' 'Crude petroleum'
 'Direct use of geothermal heat' 'Direct use of solar thermal heat'
 'Electricity generating capacity' 'Electricity' 'Ethane' 'Falling water'
 'Fuel oil' 'Fuelwood' 'Gas Coke' 'Gas coke' 'Gas Oil/ Diesel Oil'
 'Gas Oil/ Diesel Oil ' 'Gasoline-type jet fuel' 'Gasworks Gas' 'Coal'
 'Hard coal' 'Hrad coal' 'From chemical sources' 'From combustible fuels'
 'From electric boilers' 'From heat pumps' 'From other sources'
 'Geothermal' 'Heat' 'Heat production' 'Nuclear' 'Solar thermal'
 'Industrial Waste' 'Industrial waste' 'Kerosene-type Jet Fuel' 'Lignite'
 'Liquefied petroleum gas (LPG)' 'Liquified Petroleum Gas (LPG)'
 'Lubricants' 'Motor Gasoline' 'Motor gasoline' 'Municipal Waste'
 'Municipal Wastes' 'Municipal wastes' 'Naphtha'
 'Natural gas (including LNG)' 'Natural Gas (including LNG)'
 'Natural gas liquids' 'Of which: biodiesel' 'Of which: biogasoline'
 'Oil shale' 'Oil Shale' 'Other bituminous coal' 'Other coal products'
 'Other hydrocarbons' 'Other kerosene' 'Other Kerosene'
 'Other liquid biofuels' 'Other oil products n.e.c.'
 'Other recovered gases' 'Vegetal waste' 'Paraffin waxes' 'Patent fuel'
 'Peat' 'Peat (for fuel use)' 'Peat products' 'Peat Products'
 'Petroleum coke' 'Petroleum Coke' 'Feedstocks' 'Refinery gas'
 'Refinery Gas' 'Sub-bituminous coal' 'From chemical heat' 'Hydro'
 'Of which: Pumped hydro' 'Solar' 'Solar photovoltaic'
 'Tide, wave and marine' 'Wind' 'Total refinery output'
 'Total refinery throughput' 'Uranium'
 'White spirit and special boiling point industrial spirits']

Unikatowe wartości w kolumnie 'transaction_type':
['exports' 'imports' 'production' 'receipts from other sources'
 'stock changes' 'total energy supply' 'transfers and recycled products'
 'transformation' 'transformation in oil refineries'
 'consumption by commerce and public services'
 'consumption by food and tobacco' 'consumption by households'
 'consumption by manufacturing, construction and non-fuel industry'
 'consumption by non-metallic minerals' 'consumption by other'
 'consumption by other manuf., const. and non-fuel min. ind.'
 'consumption in agriculture, forestry and fishing'
 'consumption not elsewhere specified (industry)'
 'consumption not elsewhere specified (other)' 'final consumption'
 'final energy consumption'
 'transformation in electricity, chp and heat plants'
 'transformation in electricity plants' 'commerce and public services'
 'consumption by agriculture, forestry and fishing'
 'consumption by chemical and petrochemical' 'consumption by construction'
 'consumption by iron and steel' 'consumption by machinery'
 'consumption by mining and quarrying' 'consumption by non-ferrous metals'
 'consumption by other manuf., const. and non-fuel ind.'
 'consumption by paper, pulp and print' 'consumption by rail'
 'consumption by textile and leather'
 'consumption by wood and wood products industry'
 'consumption in households' 'consumption in transport'
 'consumption not elsewhere specified (transport)'
 'energy industries own use' 'losses' 'non-energy use'
 'other transformation' 'own use by briquetting plants'
 'own use by coal mines' 'own use by coke ovens'
 'own use by electricity, chp and heat plants'
 'transformation in blast furnaces' 'transformation in briquetting plants'
 'transformation in chp plants' 'transformation in coke ovens'
 'transformation in heat plants' 'consumption by transport'
 'consumption by transport equipment' 'consumption in domestic aviation'
 'international aviation bunkers' 'production from plants'
 'production from refineries' 'consumption by wood and wood products'
 'non-energy uses' 'other energy industry own use'
 'consumption by domestic navigation'
 'consumption by manufacturing, construction and non-fuel mining industry'
 'consumption by other manufacturing, construction and non-fuel mining industry'
 'consumption by road' 'international marine bunkers' 'net transfers'
 'other transformation processes not elsewhere classified'
 'own use by oil and gas extraction' 'own use by biogas production plants'
 'transformation in gas works'
 'transformation in natural gas blending plants'
 'consumption by industries not elsewhere specified'
 'consumption by other consumers' 'consumption by other transportation'
 'own use by oil refineries' 'own use by blast furnaces'
 'own use by electricity, heat and chp plants'
 'own use by other energy producers' 'consumption by briquetting plants'
 'consumption by chemical and petrochemical industry'
 'consumption by coal mines' 'consumption by iron and steel industry'
 'consumption for non-energy uses' 'consumption in rail'
 'changes in stocks' 'consumption by construction industry'
 'consumption by food, beverage and tobacco industry'
 'consumption by machinery industry'
 'consumption by mining and quarrying industry'
 'consumption by non-ferrous metals industry'
 'consumption by non-metallic minerals industry'
 'consumption by transport equipment industry' 'own use by gasworks'
 'transformation in autoproducer chp plants'
 'transformation in autoproducer electricity plants'
 'transformation in autoproducer heat plants'
 'transformation in main activity chp plants'
 'transformation in main activity electricity plants'
 'transformation in main activity heat plants' 'additional resources' None
 'total known reserves' 'total resources in place' 'own use by gas works'
 'consumption by textile and leather industry'
 'transformation in main activity producer chp plants'
 'transformation in main activity producer electricity plants'
 'transformation in main activity producer heat plants'
 'consumption by other consumers not elsewhere specified'
 'consumption by pipeline transport' 'production from off-shore'
 'other reserves' 'refinery capacity' 'reserves' 'reserves from oil shale'
 'reserves from oil shale and tar sands' 'reserves from tar sands'
 'from other sources' 'pumped hydro' 'solar pv' 'solar thermal'
 'net installed capacity of electric power plants, public combustible fuels'
 'net installed capacity of electric power plants, public geothermal'
 'net installed capacity of electric power plants, public hydro'
 'net installed capacity of electric power plants, public nuclear'
 'net installed capacity of electric power plants public solar'
 'net installed capacity of electric power plants, public tide, wave, marine'
 'net installed capacity of electric power plants, public wind'
 'net installed capacity of electric power plants, self-producer combustible fuels'
 'net installed capacity of electric power plants, self-producer geothermal'
 'net installed capacity of electric power plants, self-producer hydro'
 'net installed capacity of electric power plants, self-producer nuclear'
 'net installed capacity of electric power plants, self-producer solar'
 'net installed capacity of electric power plants, self-producer tide, wave, marine'
 'net installed capacity of electric power plants, self-producer wind'
 'total net installed capacity of electric power plants, autoproducer'
 'total net installed capacity of electric power plants, combustible fuels'
 'total net installed capacity of electric power plants, geothermal'
 'total net installed capacity of electric power plants, hydro'
 'total net installed capacity of electric power plants, main activity'
 'total net installed capacity of electric power plants, main activity & autoproducer'
 'total net installed capacity of electric power plants, nuclear'
 'total net installed capacity of electric power plants, solar'
 'total net installed capacity of electric power plants, tide, wave, marine'
 'total net installed capacity of electric power plants, wind'
 'transformation in petrochemical plants' 'total hydraulic resources'
 'consumption by domestic aviation' 'consumption in road'
 'own use by charcoal plants' 'transformation in charcoal plants'
 'consumption in domestic navigation' 'total geothermal production'
 'recoverable reserves' 'consumption by food and tobacco industry'
 'consumption by other transport' 'own use by coal liquefaction plants'
 'transformation in coal liquefaction plants' 'autoproducer'
 'main activity' 'consumption by lng/regasification plants' 'gross demand'
 'gross production' 'net production'
 'own use by nuclear fuel extraction and processing' 'autoproducer total'
 'main activity total' 'used for electricity production'
 'total hydro production'
 'transformation in other energy-producing plants' 'own use in coal mines'
 'own use in coke ovens'
 'consumption by other manufacturing, construction and non-fuel'
 'extraction loss shrinkage' 'flared' 'flared and vented'
 'memo: closing stock level (national territory)' 'memo:gross production'
 'memo: opening stock level (national territory)'
 'own use by lng/regasification plants' 're-injected' 'total resources'
 'transformation in gas-to-liquid plants' 'vented'
 'total nuclear production' 'consumption in commerce and public services'
 'consumption by chemical and petrochemicalindustry'
 'conversion in blast furnaces' 'conversion in briquetting plants'
 'recoverable' 'own use in electricity, chp and heat plants'
 'total solar production' 'consumption by chemical industry'
 'consumption by electricity, chp and heat plants'
 'consumption by energy sector' 'transformation main activity chp plants'
 'transformation main activity heat plants' 'total thermal production'
 'total tide, wave production'
 'consumption by commercial and public services'
 'own use by gas-to-liquid (gtl) plants' 'own use by pump-storage plants'
 'total production, autoproducer' 'total production, main activity'
 'used for electric boilers' 'used for heat pumps'
 'estimated additional reserves' 'reasonably assured reserves'
 'consumption by industry & construction'
 'consumption by other industries and construction'
 'total wind production']

Unikatowe wartości w kolumnie 'additional_transaction_info':
[None 'main activity producers' 'autoproducers' 'Autoproducers'
 'Main activity producers' 'Total' 'CHP plants' 'Heat plants'
 'Electricity plants']

--------------------------------

# Wyodrębnienie elektryczności z OZE

In [5]:
#Pracujemy tylko na jednym commodity (dane się powtarzają między różnymi commodity, aby uprościć wybieramy tylko jedną kategorię)
eco_df = new_df.loc[new_df['commodity'] == 'Electricity']

In [6]:
#Wypisanie transaction type które nas interesuje z Electricity
eco_transaction_type = ['total geothermal production', 'total hydro production', 'total solar production', 
                        'total tide, wave production', 'total wind production', 'total production, main activity', 
                        'gross production', 'gross demand','total production, autoproducer', 'imports', 'exports']

In [7]:
#Stworzenie nowego datasetu tylko z wybranymi transaction type
eco_df = eco_df.loc[eco_df['transaction_type'].isin(eco_transaction_type)]

In [8]:
#Podział na regiony/kraje które nas interesują
EU_country = ["Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia",
              "Finland", "France", "Greece", "Spain", "Netherlands", "Ireland", "Lithuania", "Luxembourg",
              "Latvia", "Malta", "Germany", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Sweden", 
              "Hungary", "Italy", "United Kingdom"]

World = ["United States", "China", "India", "Russian Federation"]

In [9]:
#Stworzenie nowego datasetu tylko z wybranymi regionami/krajami
EU_world_df = eco_df.loc[eco_df['country_or_area'].isin(EU_country + World)]
EU_world_df

,country_or_area,year,unit,quantity,quantity_footnotes,category,commodity,transaction_type,additional_transaction_info
490921,Austria,2014,"Kilowatt-hours, million",0.00,NaN,geothermal,Electricity,total geothermal production,None
490922,Austria,2013,"Kilowatt-hours, million",0.00,NaN,geothermal,Electricity,total geothermal production,None
490923,Austria,2012,"Kilowatt-hours, million",1.00,NaN,geothermal,Electricity,total geothermal production,None
490924,Austria,2011,"Kilowatt-hours, million",1.00,NaN,geothermal,Electricity,total geothermal production,None
490925,Austria,2010,"Kilowatt-hours, million",1.00,NaN,geothermal,Electricity,total geothermal production,None
...,...,...,...,...,...,...,...,...,...
1189456,United States,1994,"Kilowatt-hours, million",3483.00,NaN,wind_electricity,Electricity,total wind production,None
1189457,United States,1993,"Kilowatt-hours, million",3053.00,NaN,wind_electricity,Electricity,total wind production,None
1189458,United States,1992,"Kilowatt-hours, million",2917.00,NaN,wind_electricity,Electricity,total wind production,None
1189459,United States,1991,"Kilowatt-hours, million",3051.00,NaN,wind_electricity,Electricity,total wind production,None
1189460,United States,1990,"Kilowatt-hours, million",3066.00,NaN,wind_electricity,Electricity,total wind production,None

In [10]:
#sprawdzenie jednostek - dane tylko w kilowatach na godzinę, czyli jednostce energii elektrycznej
EU_world_df['unit'].unique()

array(['Kilowatt-hours, million'], dtype=object)

In [11]:
#sprawdzenie category - 
EU_world_df['category'].unique()

array(['geothermal', 'hydro', 'solar_electricity',
       'tide_wave_and_ocean_electricity', 'total_electricity',
       'wind_electricity'], dtype=object)

In [12]:
#suma energii wyprodukowanej w danym kraju, z podziałem na jej rodzaje (suma dla wszystkich lat lub wybrany rok)

#Wybranie rocznika (można pominąć lub wybrać np. kilka lat)
EU_world_df = EU_world_df.loc[EU_world_df['year'] == 2000]

#sumowanie energii osobno dla każdego kraju dla wszystkich roczników
sum_energy_df = EU_world_df[['country_or_area', 'quantity', 'transaction_type']].pivot_table(index='country_or_area',
                                                                                columns='transaction_type',
                                                                               aggfunc = np.sum)
#Podgląd danych
#sum_energy_df

In [13]:
#wartości Nan zamieniamy na 0.0 i usuwamy MultiIndex'owanie
sum_energy_df.fillna(0, inplace=True)
sum_energy_df.columns = sum_energy_df.columns.droplevel()
sum_energy_df.columns.name = None
sum_energy_df.reset_index(inplace=True)

#Podgląd danych
#sum_energy_df

In [14]:
#sumowanie energii z krajów europejskich - stworzenie jednego wiersza EU countries
eu_energy_df = sum_energy_df.loc[sum_energy_df['country_or_area'].isin(EU_country)].sum(numeric_only = True)
eu_energy_df = eu_energy_df.to_frame().transpose()
eu_energy_df['country_or_area'] = 'EU countries'

#Podgląd danych
eu_energy_df

,exports,gross demand,gross production,imports,total geothermal production,total hydro production,"total production, autoproducer","total production, main activity",total solar production,"total tide, wave production",total wind production,country_or_area
0,219330.00,2793601.00,2962276.00,252368.00,4785.00,384568.00,195756.00,2766520.00,118.00,507.00,22224.00,EU countries

In [15]:
#Połączenie EU i World
world_energy_df = sum_energy_df.loc[sum_energy_df['country_or_area'].isin(World)] 

final_energy_df = pd.concat([world_energy_df, eu_energy_df])
final_energy_df.reset_index(inplace=True, drop = True)

#Podgląd danych
final_energy_df

,country_or_area,exports,gross demand,gross production,imports,total geothermal production,total hydro production,"total production, autoproducer","total production, main activity",total solar production,"total tide, wave production",total wind production
0,China,9878.00,1253597.00,1355600.00,1546.00,0.00,222414.00,0.00,1355600.00,0.00,0.00,0.00
1,India,195.00,527212.00,560842.00,1497.00,0.00,74362.00,59638.00,501204.00,0.00,0.00,1582.00
2,Russian Federation,22850.00,794510.00,877766.00,8795.00,58.00,165375.00,47972.00,829794.00,0.00,0.00,2.00
3,United States,14678.00,3818903.00,4052667.00,48592.00,14621.00,279986.00,190551.00,3862116.00,709.00,0.00,5650.00
4,EU countries,219330.00,2793601.00,2962276.00,252368.00,4785.00,384568.00,195756.00,2766520.00,118.00,507.00,22224.00

In [16]:
#dodanie kolumny z sumą całej energi z OZE na kraj
sum_electricity_list = ['total geothermal production', 'total hydro production',
                        'total solar production', 'total tide, wave production']

#Skrót RE oznacza Renewable Energy
final_energy_df['total RE production'] = final_energy_df[sum_electricity_list].sum(axis = 1)

#Podgląd danych
#final_energy_df

In [17]:
#dodanie kolumny z procentem jaki stanowi energia odnawialna w produkcji elektrycznosci
final_energy_df['RE production %'] = (final_energy_df['total RE production'] / final_energy_df['gross production'] * 100)

#dodanie kolumny ile % stanowi produkowana elektryczność w stosunku do zapotrzebowania
final_energy_df['RE production to demand %'] = (final_energy_df['total RE production'] / final_energy_df['gross demand'] * 100)

#dodanie kolumny z różnicą w procentach
final_energy_df['sub'] = final_energy_df['RE production to demand %'] - final_energy_df['RE production %']

#Podgląd danych
#final_energy_df

In [18]:
#Ostateczna wersja tabeli - podgląd danych
final_energy_df

,country_or_area,exports,gross demand,gross production,imports,total geothermal production,total hydro production,"total production, autoproducer","total production, main activity",total solar production,"total tide, wave production",total wind production,total RE production,RE production %,RE production to demand %,sub
0,China,9878.00,1253597.00,1355600.00,1546.00,0.00,222414.00,0.00,1355600.00,0.00,0.00,0.00,222414.00,16.41,17.74,1.34
1,India,195.00,527212.00,560842.00,1497.00,0.00,74362.00,59638.00,501204.00,0.00,0.00,1582.00,74362.00,13.26,14.10,0.85
2,Russian Federation,22850.00,794510.00,877766.00,8795.00,58.00,165375.00,47972.00,829794.00,0.00,0.00,2.00,165433.00,18.85,20.82,1.97
3,United States,14678.00,3818903.00,4052667.00,48592.00,14621.00,279986.00,190551.00,3862116.00,709.00,0.00,5650.00,295316.00,7.29,7.73,0.45
4,EU countries,219330.00,2793601.00,2962276.00,252368.00,4785.00,384568.00,195756.00,2766520.00,118.00,507.00,22224.00,389978.00,13.16,13.96,0.79

In [19]:
#Zapisanie tabeli do pliku csv
with open("sum_eco_energy_data_eu_world.csv", "w+") as file:
    file.write(final_energy_df.to_csv())

-------------------------------------

# Wyodrębnienie energii z biomasy

In [45]:
biomass_commodity_list = ['Bagasse', 'Biodiesel', 'Biogases', 'Biogasoline', 'Peat (for fuel use)', 'Municipal wastes']

In [46]:
biomass_df = new_df.loc[new_df['commodity'].isin(biomass_commodity_list)]
biomass_df = biomass_df.loc[new_df['country_or_area'].isin(EU_country + World)]
#biomass_df = biomass_df.loc[new_df['year'] == 2000]
biomass_df = biomass_df.loc[biomass_df['transaction_type'] == 'total energy supply']
biomass_df

,country_or_area,year,unit,quantity,quantity_footnotes,category,commodity,transaction_type,additional_transaction_info
37544,China,2014,"Metric tons, thousand",40845.00,NaN,bagasse,Bagasse,total energy supply,None
37545,China,2013,"Metric tons, thousand",42812.00,NaN,bagasse,Bagasse,total energy supply,None
37546,China,2012,"Metric tons, thousand",38761.00,NaN,bagasse,Bagasse,total energy supply,None
37547,China,2011,"Metric tons, thousand",34052.00,NaN,bagasse,Bagasse,total energy supply,None
37548,China,2010,"Metric tons, thousand",34442.00,NaN,bagasse,Bagasse,total energy supply,None
...,...,...,...,...,...,...,...,...,...
983831,Sweden,1991,"Metric tons, thousand",1026.00,NaN,peat,Peat (for fuel use),total energy supply,None
983832,Sweden,1990,"Metric tons, thousand",830.00,NaN,peat,Peat (for fuel use),total energy supply,None
983868,United States,1999,"Metric tons, thousand",1.00,NaN,peat,Peat (for fuel use),total energy supply,None
983869,United States,1993,"Metric tons, thousand",24.00,NaN,peat,Peat (for fuel use),total energy supply,None
983870,United States,1992,"Metric tons, thousand",11.00,NaN,peat,Peat (for fuel use),total energy supply,None

In [47]:
#Sprawdzenie jednostek
biomass_df['unit'].unique()

#Biogases i Municipal waste są w terajulach, resztę również przekonwertujemy

array(['Metric tons,  thousand', 'Terajoules'], dtype=object)

### Konwersja jednostek
Link do dokumentu z konwersjami: https://mdgs.un.org/unsd/energy/balance/2013/05.pdf
* Bagasse: 1000 T = 7.72 TJ
* Biodiesel: 1000 T = 36.8 TJ
* Biogasoline: 1000 T = 26.8 TJ
* Peat (for fuel use): 1000 T = 9.76 TJ

In [48]:
#Konwersja jednostek z megaton na terajoule 
biomass_df.loc[biomass_df['commodity'] == 'Bagasse', 'quantity'] *= 7.72
biomass_df.loc[biomass_df['commodity'] == 'Biodiesel', 'quantity'] *= 36.8
biomass_df.loc[biomass_df['commodity'] == 'Biogasoline', 'quantity'] *= 26.8
biomass_df.loc[biomass_df['commodity'] == 'Peat (for fuel use)', 'quantity'] *= 9.76
biomass_df['unit'] ='Terajoules' 
biomass_df

,country_or_area,year,unit,quantity,quantity_footnotes,category,commodity,transaction_type,additional_transaction_info
37544,China,2014,Terajoules,315323.40,NaN,bagasse,Bagasse,total energy supply,None
37545,China,2013,Terajoules,330508.64,NaN,bagasse,Bagasse,total energy supply,None
37546,China,2012,Terajoules,299234.92,NaN,bagasse,Bagasse,total energy supply,None
37547,China,2011,Terajoules,262881.44,NaN,bagasse,Bagasse,total energy supply,None
37548,China,2010,Terajoules,265892.24,NaN,bagasse,Bagasse,total energy supply,None
...,...,...,...,...,...,...,...,...,...
983831,Sweden,1991,Terajoules,10013.76,NaN,peat,Peat (for fuel use),total energy supply,None
983832,Sweden,1990,Terajoules,8100.80,NaN,peat,Peat (for fuel use),total energy supply,None
983868,United States,1999,Terajoules,9.76,NaN,peat,Peat (for fuel use),total energy supply,None
983869,United States,1993,Terajoules,234.24,NaN,peat,Peat (for fuel use),total energy supply,None
983870,United States,1992,Terajoules,107.36,NaN,peat,Peat (for fuel use),total energy supply,None

In [49]:
biomass_df['unit'].unique()

array(['Terajoules'], dtype=object)

In [76]:
#suma energii wyprodukowanej w danym kraju, z podziałem na jej rodzaje (suma dla wszystkich lat lub wybrany rok)

#Wybranie rocznika (można pominąć lub wybrać np. kilka lat)
#EU_world_df = EU_world_df.loc[EU_world_df['year'] == 2000]

#sumowanie energii osobno dla każdego kraju dla wszystkich roczników
sum_biomass_df = biomass_df[['country_or_area', 'quantity', 'commodity']].pivot_table(index='country_or_area',
                                                                                columns='commodity',
                                                                               aggfunc = np.sum)
#Podgląd danych
#sum_biomass_df

In [77]:
#wartości Nan zamieniamy na 0.0 i usuwamy MultiIndex'owanie
sum_biomass_df.fillna(0, inplace=True)
sum_biomass_df.columns = sum_biomass_df.columns.droplevel()
sum_biomass_df.columns.name = None
sum_biomass_df.reset_index(inplace=True)

#Podgląd danych
sum_biomass_df

,country_or_area,Bagasse,Biodiesel,Biogases,Biogasoline,Municipal wastes,Peat (for fuel use)
0,Austria,0.00,172260.80,86592.00,18679.60,203299.00,244.00
1,Belgium,0.00,81107.20,68797.00,11979.60,475812.00,0.00
2,Bulgaria,0.00,13984.00,798.00,938.00,2998.00,0.00
3,China,5513577.68,1602852.34,0.00,623094.72,13750320.00,0.00
4,Croatia,0.00,4673.60,3557.00,268.00,0.00,0.00
5,Cyprus,0.00,4268.80,2442.00,0.00,106.00,0.00
6,Denmark,0.00,32016.00,75400.00,3939.60,776247.00,0.00
7,Estonia,0.00,0.00,2691.00,696.80,7226.00,91158.40
8,Finland,0.00,35880.00,29859.00,22860.40,136063.00,1815242.88
9,France,72.98,818321.60,203149.00,162649.20,1960464.00,0.00
10,Germany,0.00,1046444.80,2053648.00,237823.20,2847863.00,5377.76
11,Greece,0.00,37977.60,30730.00,0.00,0.00,0.00
12,Hungary,0.00,33745.60,17089.00,16508.80,70439.00,0.00
13,India,12581824.40,0.00,0.00,0.00,0.00,0.00
14,Ireland,0.00,14499.20,30776.00,7638.00,15353.00,1073609.76
15,Italy,0.00,358174.40,420034.00,18384.80,786753.00,0.00
16,Latvia,0.00,3864.00,11744.00,1688.40,9062.00,30841.60
17,Lithuania,0.00,15529.60,3681.00,3618.00,1904.00,12434.24
18,Luxembourg,0.00,15308.80,5390.00,589.60,27872.00,0.00
19,Malta,0.00,552.00,282.00,0.00,0.00,0.00
20,Netherlands,0.00,66497.60,169860.00,41834.80,1234179.00,0.00
21,Poland,0.00,168360.00,62186.00,52126.00,39226.00,0.00
22,Portugal,0.00,83462.40,15655.00,214.40,119759.00,0.00
23,Romania,0.00,42651.20,3604.00,12381.60,207.00,4323.68
24,Russian Federation,0.00,0.00,0.00,0.00,0.00,524961.12
25,Slovakia,0.00,26532.80,14139.00,7932.80,19337.00,0.00
26,Slovenia,0.00,11444.80,10866.00,1206.00,0.00,0.00
27,Spain,52844.63,346729.60,178711.00,78202.40,305497.00,0.00
28,Sweden,0.00,94502.40,56936.00,85974.40,736425.00,239285.92
29,United Kingdom,0.00,221204.80,1110385.00,95863.60,554995.00,0.00
30,United States,1985553.12,797640.00,2828828.00,9708434.00,7068572.00,351.36

In [78]:
#sumowanie energii z krajów europejskich - stworzenie jednego wiersza EU countries
eu_biomass_df = sum_biomass_df.loc[sum_biomass_df['country_or_area'].isin(EU_country)].sum(numeric_only = True)
eu_biomass_df = eu_biomass_df.to_frame().transpose()
eu_biomass_df['country_or_area'] = 'EU countries'

#Podgląd danych
eu_biomass_df

,Bagasse,Biodiesel,Biogases,Biogasoline,Municipal wastes,Peat (for fuel use),country_or_area
0,52917.61,3749993.60,4669001.00,883998.00,10331086.00,3272518.24,EU countries

In [79]:
#Połączenie EU i World
world_biomass_df = sum_biomass_df.loc[sum_biomass_df['country_or_area'].isin(World)] 

final_biomass_df = pd.concat([world_biomass_df, eu_biomass_df])
final_biomass_df.reset_index(inplace=True, drop = True)

#Podgląd danych
final_biomass_df

,country_or_area,Bagasse,Biodiesel,Biogases,Biogasoline,Municipal wastes,Peat (for fuel use)
0,China,5513577.68,1602852.34,0.00,623094.72,13750320.00,0.00
1,India,12581824.40,0.00,0.00,0.00,0.00,0.00
2,Russian Federation,0.00,0.00,0.00,0.00,0.00,524961.12
3,United States,1985553.12,797640.00,2828828.00,9708434.00,7068572.00,351.36
4,EU countries,52917.61,3749993.60,4669001.00,883998.00,10331086.00,3272518.24

In [80]:
#Dodanie kolumny z sumą całej energii z biomasy
final_biomass_df['total biomass energy'] = final_biomass_df[biomass_commodity_list].sum(axis = 1)

#Podgląd danych
final_biomass_df

,country_or_area,Bagasse,Biodiesel,Biogases,Biogasoline,Municipal wastes,Peat (for fuel use),total biomass energy
0,China,5513577.68,1602852.34,0.00,623094.72,13750320.00,0.00,21489844.74
1,India,12581824.40,0.00,0.00,0.00,0.00,0.00,12581824.40
2,Russian Federation,0.00,0.00,0.00,0.00,0.00,524961.12,524961.12
3,United States,1985553.12,797640.00,2828828.00,9708434.00,7068572.00,351.36,22389378.48
4,EU countries,52917.61,3749993.60,4669001.00,883998.00,10331086.00,3272518.24,22959514.45

In [83]:
#Zmiana Terajouli na Kilowatogodziny i połączenie z tabelą electricity
KWh_df = final_biomass_df.select_dtypes(include=['number']) * 277777.778 / 10**6
final_biomass_df[KWh_df.columns] = KWh_df
final_biomass_df

,country_or_area,Bagasse,Biodiesel,Biogases,Biogasoline,Municipal wastes,Peat (for fuel use),total biomass energy
0,China,3063098.71,890473.52,0.00,346163.73,7639066.67,0.00,11938802.64
1,India,6989902.45,0.00,0.00,0.00,0.00,0.00,6989902.45
2,Russian Federation,0.00,0.00,0.00,0.00,0.00,291645.07,291645.07
3,United States,1103085.07,443133.33,1571571.11,5393574.45,3926984.45,195.20,12438543.61
4,EU countries,29398.67,2083329.78,2593889.45,491110.00,5739492.23,1818065.69,12755285.81